/* CSS file */

@namespace mx "http://www.adobe.com/2006/mxml";
@namespace skins "skins";

ToolTip { 
	cornerRadius: 0;
	color: #000000;
	backgroundColor: #FFFFE1;
	dropShadowEnabled: false;
	borderColor: #646464;
	borderStyle:solid;
	border-skin: ClassReference('mx.skins.halo.HaloBorder');
	border-thickness: 1;
	buttonHeight: 10;
}


mx|AdvancedDataGrid {
	defaultLeafIcon:    ClassReference(null);
	folderOpenIcon:     Embed(source='assets/icons/folder.png');
	folderClosedIcon:   Embed(source='assets/icons/folder.png');
	headerSeparatorSkin: ClassReference("mx.skins.ProgrammaticSkin");
	backgroundSkin: ClassReference(null);
	fontWeight:         normal;
	fontSize:           9px;
	alternatingItemColors: #FFFFFF, #FFFFFF;
	indentation: 0;
	paddingTop: 10px;
	paddingLeft: 0px;
}

.bottomPanel {
	borderStyle: applicationControlBar; 
	fillColors: #FF8466, #FF5533; 
	fillAlphas: 1.0, 1.0; 
	highlightAlphas: 0, 0;
}

.HeaderStyle {
	fontAntiAliasType: advanced;
	fontWeight:normal;
	letterSpacing:-1;
	kerning:true;
	fontSharpness:0;
	fontSize: 9px;
	color: #808080;
	textColor:#808080;
	paddingLeft: 4px;
	paddingTop: 3px;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	height: 19px;
}

